{
    "presets": [
      ["@babel/preset-env", {
        "modules": "amd",
        "targets": {
          "safari": "10",
          "ie": "10"
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-proposal-class-properties"
    ]
  }